* {
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      0deg,
      rgba(40, 40, 41, 0.5),
      rgba(40, 40, 41, 0.5)
    ),
    url("images/background.png");
  background-size: cover;
  text-align: center;
  color: #fff;
}

#pImg {
  width: 250px;
  border-radius: 50%;
  margin-top: 50px;
}
#about {
  width: 40vw;
  margin: 0 auto;
}
#btn-grp {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 50px;
}
#btn-grp button {
  width: 40vw;
  height: 50px;
  background-color: #fae4ce;
  color: grey;
  border-radius: 10px;
  border: 0;
}
#btn-grp button:hover, 
#btn404:hover{
  height: 55px;
  background-color: #fae4da;
  color: white;
  border-radius: 10px;
  border: 0;
}
#icons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 30vw;
  margin: 50px auto;
}
#icons a {
  border-radius: 10px;
  color: white;
}
#lost{
  width: 300px;
  border-radius: 10px;
  margin: 50px 0;
}
#alert{
  font-size: 80pt;
  padding-top: 50px;
}
#btn404{
  width: 40vw;
  height: 50px;
  background-color: #fae4ce;
  color: grey;
  border-radius: 10px;
  border: 0;
  margin-bottom:50px;
}
#Contact{
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  #about {
    width: 95vw;
  }
  #btn404{
    width: 70vw;
  }
  #lost{
    width: 200px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  #about {
    width: 90vw;
  }
}
